<div *ngIf="wrongLogin" class="alert alert-primary" role="alert">
    Wrong credentials!
</div>
<dashboard *ngIf="!isLogin" [user]=user>
</dashboard>
<app-enter *ngIf="isLogin" sLogin (onSubmission)="submitted($event)">

</app-enter>