<div class="profile gap">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Today you are looking awersome {{user.name}}</h4>
      <balance [awaibleFunds]="awaibleMone()" [pendingFunds]="pendingMoney()" [totalFunds]="totalMoney()" [loanFunds]="loanMoney()"></balance>
    </div>
  </div>
</div>