<div class='group gap'>
  <div class="card">
    <div class="card-body">
      <div *ngIf='!isMember()'>
        <h4 class="card-title" style='height:100%'> Group {{group.name}}
          <span (click)="join()" class="badge badge-secondary clickable"> Join </span>
        </h4>
      </div>
      <div *ngIf='isMember()' style='height:100%'>
        <h4 class="card-title"> Group {{group.name}}
          <span (click)="leave()" class="badge badge-secondary clickable">Leave</span>
        </h4>
        <p class="card-text">It is {{ group.isPublic ? "public" : "private"}} group</p>
        <balance [awaibleFunds]="getBalance()" [pendingFunds]=0 [totalFunds]="getBalance()" [loanFunds]=0></balance>
        <div class="container-fluid">
          <div class='col'>
            <div class='raw margin'>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Invest</h5>
                  <div class="form-inline">
                    <input #invest type="text" style="width: 80%" class="form-control" placeholder="Amount">
                    <a (click)="makeInvestment(invest.value)" style="margin-left:10pt" class="btn btn-primary btn-lg margin" href="#" role="button">Invest</a>
                  </div>
                </div>
              </div>
            </div>
            <div class='raw margin'>
              <div class='raw'>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Loan</h5>
                    <input [(ngModel)]="loanAmount" ype="text" style="width: 100%" class="form-control margin" placeholder="Amount">
                    <input [(ngModel)]="loanLengh" type="text" style="width: 100%" class="form-control margin" placeholder="Duration in months">
                    <span style="margin-top:'30pt'">Interest: {{interest(loanAmount, loanLengh)}}%</span>
                    <a (click)="takeLoan()" style="margin-left:10pt" class="btn btn-primary btn-lg margin" href="#" role="button">Request</a>
                  </div>
                </div>
                <div class='raw margin'>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Request</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a (click)="tabClick('ok')" class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </div>
                  </div>
                </div>
                <div class='raw margin'>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Return</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a (click)="tabClick('ok')" class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>