<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link disabled" href="#">{{loan.amount}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">{{loan.username}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">{{loan.interest}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">{{loan.length}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">{{loan.status}}</a>
  </li>
</ul>