<div class="container">
  <form class="form-signin" ng-show='isLogin = true'>
    <h2 class="form-signin-heading">Please sign in</h2>
    <!-- <div class="form-group"> -->
    <label for="exampleInputEmail1">Email address</label>
    <input #username type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <!-- </div>
    <div class="form-group"> -->
    <label for="exampleInputPassword1">Password</label>
    <input #password type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <!-- </div> -->
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input"> Check me out
      </label>
    </div>
    <button (click)="update(password.value, username.value)" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>