<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-4">
      <profile [user]=user></profile>
      <history [user]=user></history>
    </div>
    <div class="col">
      <group-list (onClickedRow)="setClickedRow($event)"></group-list>
      <group (refresh)="updateUser()" [group]=activeGroup [user]=user></group>
    </div>
  </div>
</div>