/* You can add global styles to this file, and also import other style files */
.gap {
    padding: 10px;
}
.margin {
    margin-top: 10pt;
}
.clickable {
    text-decoration: none;
    cursor: pointer;
}
/* body {
    overflow-x: hidden;
    overflow-y: scroll;
} */
.hover:hover {
    background-color: #f7faff
}