<div class="group-list gap">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Search for a group you like</h4>
      <div>
        <input type="email" class="form-control" placeholder="Search">
      </div>
      <div class="group-table" style="overflow: auto;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Group Name</th>
              <th>Country</th>
              <th>Public</th>
            </tr>
          </thead>
          <tr class="group" *ngFor="let group of allGroups" (click)="onClickedRow.emit(group)">
            <th>
              {{group.name}}
            </th>
            <th>
              {{group.country}}
            </th>
            <th>
              {{group.isPublic}}
            </th>
        </table>
      </div>
    </div>
  </div>
</div>