<div class="history gap">
  <div class="card">
    <br/>
    <div style='margin:10pt'>
      <ul class="list-group">
        <li class="list-group-item">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#">Amount</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Interest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Length</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Status</a>
            </li>
          </ul>
        </li>
        <br/>
        <li *ngFor="let loan of user.loansData" class="list-group-item hover">
          <app-loan [loan]=loan></app-loan>
        </li>
      </ul>
    </div>
  </div>

</div>

<!-- groupData -->