<div class='balance'>

    <div class="progress">
        <div *ngIf="loanFunds > 0" class="progress-bar bg-danger" role="progressbar " style="width: 45%" aria-valuenow="50" aria-valuemin="0 "
            aria-valuemax="100 ">
            {{-loanFunds}}
        </div>
        <div *ngIf="totalFunds > 0 " class="progress-bar bg-info" role="progressbar " style="width: 36% " aria-valuenow="15" aria-valuemin="0 "
            aria-valuemax="100 ">
            {{totalFunds}}
        </div>
        <div *ngIf="awibleFunds > 0 " class="progress-bar bg-success " role="progressbar " style="width: 15% " aria-valuenow="15"
            aria-valuemin="0 " aria-valuemax="100 ">
            {{awaibleFunds}}
        </div>
        <div *ngIf="pendingFunds > 0 " class="progress-bar bg-warning" role="progressbar " style="width: 15% " aria-valuenow="15"
            aria-valuemin="0 " aria-valuemax="100 ">
            {{pendingFunds}}
        </div>
    </div>

</div>